
@{
    ViewBag.Title = "nopermission";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @*<section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>*@
    <!-- Main content -->
    <section class="content">


      <h2>Sorry! YOU DON't HAVE ENOUGH PERMISION ,PLEASE CONTACT WITH YOUR ADMINISTRATOR</h2>






    </section>
    <!-- /.content -->
</div>

