
        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
        @{ Html.RenderAction("CurrentUserInfo", "CommonLayout"); }
                <!-- Menu Toggle Button -->
            </li>
        </ul>
    </div>
