
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBank.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Bank
            <small>Control panel</small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->



    </section>
    <!-- /.content -->
</div>



