@model RSLERP.Models.ViewModel
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

        <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="~/dist/img/avatar.png" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">@Model.VM_COMPANY_USER.u_LoginName</span>
            </a>
            <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                    <img src="~/dist/img/avatar.png" class="img-circle" alt="User Image">
                    <p>
                     @Model.VM_COMPANY_USER.u_LoginName
                        @if (Model.VM_COMPANE != null)
                        {
                            <small>@Model.VM_COMPANE.c_Name</small>
                            <small>@Model.VM_GROUP.g_Name</small>
                          
                        }
                      
                    </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                        <a href="~/Account/SignOut" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>